<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Oh! Books!</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isBooks}}
      <li class="active"><a href="/books">Books</a></li>
      {{else}}
      <li><a href="/books">Books</a></li>
      {{/if}}

      {{#if isAuth}}
      {{#if isAddBook}}
      <li class="active"><a href="/add-book">Add Books</a></li>
      {{else}}
      <li><a href="/add-book">Add Books</a></li>
      {{/if}}

      {{#if isProfile}}
      <li class="active"><a href="/profile">Profile</a></li>
      {{else}}
      <li><a href="/profile">Profile</a></li>
      {{/if}}

      {{#if isCart}}
      <li class="active"><a href="/cart">Cart</a></li>
      {{else}}
      <li><a href="/cart">Cart</a></li>
      {{/if}}

      {{#if isOrders}}
      <li class="active"><a href="/orders">Orders</a></li>
      {{else}}
      <li><a href="/orders">Orders</a></li>
      {{/if}}

      <li><a href="/auth/logout">Logout</a></li>

      {{else}}
      {{#if isLogin}}
      <li class="active"><a href="/auth/login#login">Login</a></li>
      {{else}}
      <li><a href="/auth/login#login">Login</a></li>
      {{/if}}
      {{/if}}

    </ul>
  </div>
</nav>